html, button, input, select, textarea {
    font-family: sans-serif;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    padding: 0px 0 20px 0px;
    margin: 0px;
    font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f0e7d5;
    font-weight: normal;
    background: #00151a;
    background-attachment: fixed !important;
    background: linear-gradient(#00151a, #00151a);
}

.wrapper {
    max-width: 650px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

div {
    display: block;
}

@media print, screen and (max-width: 400px)
section {
    margin-top: 40px;
}

section {
    max-width: 650px;
    padding: 10px 0px 50px 0px;
    margin: 20px 0;
    margin-top: 0px;
}

section img {
    max-width: 100%;
}

p. ul, ol, table, pre, dl {
    margin: 0 0 20px;
}

p, pre {
    margin: 1em 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: #f99925;
    font-weight: 400;
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: underline;
}

img {
    border: 0;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
    color: #b6b6b6;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1, h2, h3 {
    line height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
    color: #e8e8e8;
    margin: 0 0 10px;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

menu, ol, ul {
    padding: 0 0 0 40px;
}

dl, menu, ol, ul {
    margin: 1em 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
